.contenedor {
  display: grid;
  background-color: bisque;
  border: 2px solid blue;
  grid-template-columns: 1fr 2fr 100px 200px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.contenedor-flex {
  display: flex;
}

.item {
  background-color: salmon;
  border: 1px solid beige;
}

img {
  width: 30%;
}