.contenedor {
  background-color: aquamarine;
  height: 100vh;
}


@media screen and (max-width: 400px) and (min-width:100px) {

  .contenedor {
    background-color: green;
  }

}


@media screen and (max-width: 800px) and (min-width:500px) {

  .contenedor {
    background-color: red;
  }

}


